.container {
  margin: 0 12px;
}

.style-page {
  width: 320px;
  height: 568px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.style-card-list {
  width: 320px;
  height: 470px;
  gap: 15px;
  display: grid;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

/* chrome, safari에서의 스크롤바 스타일 */
.style-card-list::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

.style-card-list::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 6px;
}

.style-card-list::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* firefox에서의 스크롤바 스타일 */
.style-card-list {
  scrollbar-width: 2px;
  scrollbar-color: #cccccc;
}

.style-modal {
  width: 320px;
  height: 287px;
  border-radius: 7px 7px 0px 0px;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
}

.style-modal.open {
  bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.open {
  display: block;
}

.slide-in {
  bottom: 0;
}

.style-menulist {
  display: grid;
  gap: 10px;
  margin: 0 16px 6px 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* chrome, safari에서의 스크롤바 스타일 */
.style-menulist::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

.style-menulist::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 6px;
}

.style-menulist::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* firefox에서의 스크롤바 스타일 */
.style-menulist {
  scrollbar-width: 2px;
  scrollbar-color: #cccccc;
}
