.container {
  margin: 0 12px;
}

.style-page {
  width: 320px;
  height: 568px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.style-page-scroll {
  width: 320px;
  height: 568px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* chrome, safari에서의 스크롤바 스타일 */
.style-card-scroll::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.style-card-scroll::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 6px;
}

.style-card-scroll::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* firefox에서의 스크롤바 스타일 */
.style-card-scroll {
  scrollbar-width: 1px;
  scrollbar-color: #cccccc;
}

.style-page-scrolled {
  width: 320px;
  height: 568px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.style-card-list {
  width: 320px;
  height: 470px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

/* chrome, safari에서의 스크롤바 스타일 */
.style-card-list::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

.style-card-list::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 6px;
}

.style-card-list::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* firefox에서의 스크롤바 스타일 */
.style-card-list {
  scrollbar-width: 2px;
  scrollbar-color: #cccccc;
}

.style-modal {
  width: 320px;
  height: 287px;
  border-radius: 7px 7px 0px 0px;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
}

.style-modal.open {
  bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.open {
  display: block;
}

.slide-in {
  bottom: 0;
}

.style-menulist {
  display: grid;
  gap: 10px;
  margin: 0 16px 6px 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* chrome, safari에서의 스크롤바 스타일 */
.style-menulist::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

.style-menulist::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 6px;
}

.style-menulist::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* firefox에서의 스크롤바 스타일 */
.style-menulist {
  scrollbar-width: 2px;
  scrollbar-color: #cccccc;
}

/* 애니메이션이 적용될 영역 */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 300ms ease-in-out;
}

/* 기본 슬라이드 애니메이션 (왼쪽에서 오른쪽으로) */
.slide-enter {
  transform: translateX(-100%);
}

.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(100%);
}

/* 버튼 클릭 시의 슬라이드 애니메이션 (오른쪽에서 왼쪽으로) */
.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0%);
}

.slide-right-exit {
  transform: translateX(0%);
}

.slide-right-exit-active {
  transform: translateX(-100%);
}

.style-page-calendar {
  width: 320px;
  height: "fit-content";
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

.style-menu-section {
  width: 287px;
  height: 67px;
  display: grid;
  grid-template-columns: 67px 135px 86px;
  align-items: center;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.style-menu-section:hover {
  background-color: #eeeeee;
}
